<!DOCTYPE html>
<html>
<head>
	<title> MAIN MENU </title>
	<link rel="stylesheet" href="css/mainmenu.css">
</head>

<body>
	<img src="/images/title_image.jpg" class="titleimage">

	<div class="menuCenterBlock">
		<h3> You may: </h3>
		<div class="menuLeftJustify">
			<h2 id="option1">1. Travel the trail</h2>
			<h2 id="option2">2.	Learn about the trail</h2>
			<h2 id="option3">3.	See the Oregon top 10</h2>
			<h2 id="option4">4.	Turn sound on</h2>
		</div>
	</div>

	<script src="/js/mainmenu.js"></script>
	<script src="/js/global.js"></script>
</body>
</html>
