<!DOCTYPE html>
<html>
<head>
	<title> SETUP </title>
	<link rel="stylesheet" href="/css/setup.css">
</head>

<body>
	<img src="/images/title_image.jpg" class="titleimage">

	<div class="menuCenterBlock">
    <div class="menuLeftJustify">
      <h2 id="option1">1. Be a banker from Boston</h2>
      <h2 id="option2">2. Be a carpenter from Ohio</h2>
      <h2 id="option3">3. Be a farmer from Illinois</h2>
      <h2 id="option4">4. Learn the differences between the choices</h2>
      <h3>Press spacebar to go to the menu</h3>
    </div>
  </div>

	<script src="/js/setup.js"></script>
	<script src="/js/global.js"></script>
</body>
</html>
