<!DOCTYPE html>
<html>
<head>
	<title> TOP TEN </title>
	<link rel="stylesheet" href="/css/topten.css">
</head>

<body>
	<img src="/images/title_image.jpg" class="titleimage">

	<div class="menuCenterBlock">
		<h2> HIGH SCORES </h2>
		<div class="menuLeftJustify">
			<h3 id="player1"> </h3>
			<h3 id="player2"> </h3>
			<h3 id="player3"> </h3>
			<h3 id="player4"> </h3>
			<h3 id="player5"> </h3>
			<h3 id="player6"> </h3>
			<h3 id="player7"> </h3>
			<h3 id="player8"> </h3>
			<h3 id="player9"> </h3>
			<h3 id="player10"> </h3>
		</div>
		<h2 id="spacePress"> Press spacebar to go back to main menu </h2>
	</div>

  <script src="/js/topten.js"></script>
  <script src="/js/global.js"></script>
</body>
</html>
