<!DOCTYPE html>
<html>
<head>
  <title> TRAIL </title>
  <link rel="stylesheet" href="/css/trail.css">
</head>

<body>
  <img src="/images/title_image.jpg" class="titleimage">

  <div id = "paceMessage">
    <h3>Press Enter to change pace</h3>
  </div>

  <div id = "terrainBackground">
    <img id = "trnimg" src = "/images/forest.png">
  </div>

  <div id = "locator">
    <img id="wagonimg" src="/images/wagon.png"><br>
  </div>

  <div id = "status">
    <p> &nbsp; Days Traveled: 0
    <p> &nbsp; Miles Traveled: 0
    <p> &nbsp; Party Members: 5
    <p> &nbsp; Current Terrain: Forest
    <p> &nbsp; Current Weather: Cool
    <p> &nbsp; Party Health: Good
    <p> &nbsp; Pace: Steady
  </div>

  <div id = "travelMessage">
    <h2>PRESS SPACEBAR TO TRAVEL</h2>
  </div>

  <script src="/js/trail.js"></script>
  <script src="/js/global.js"></script>
</body>
</html>
